PORT=3000
REACT_APP_PUBLIC_URL=
REACT_APP_SASS_PATH=src/_metronic/assets/sass/core/components
REACT_APP_SASS_VARIABLES_PATH=src/_metronic/assets/sass/core/components/_variables.scss

# STRIPE_PUBLIC_KEY=
REACT_APP_STRIPE_KEY=
# API SERVER
REACT_APP_API_ENDPOINT=

REACT_APP_ADDITIONAL_DATE=1
REACT_APP_RETRIEVAL_ADDITIONAL_DATE=2
REACT_APP_ORDER_ITEMS_LIMIT=3